<!DOCTYPE html>
<html ng-app="app" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://use.typekit.net/njc2jfu.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link rel="icon" href="img/spotify.ico">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/home.css">
  <link rel="stylesheet" href="/styles/search.css">
  <link rel="stylesheet" href="/styles/artist.css">
  <link rel="stylesheet" href="/styles/bottomPlay.css">
  <link rel="stylesheet" href="/styles/recent.css">
  <link rel="stylesheet" href="/styles/player.css">
  <title>ng-Spotify</title>
</head>
  <body>
    <header class="header-container">
      <nav class="header-nav">
        <img class="header-logo" src="img/spotify-logo.png" ui-sref="home">
        <ul class="navBar-ul bold">
          <div class="navBar-group">
            <div class="navBar-group-search flex justify-between link" ng-click="inputFocus()" ui-sref="search">
            <li class="navBar-item">Search</li>
              <div>
              <svg class="navBar-item-search" viewBox="0 0 27 28" xmlns="http://www.w3.org/2000/svg"><title>Search</title><path d="M18.387 16.623C19.995 15.076 21 12.907 21 10.5 21 5.806 17.195 2 12.5 2 7.806 2 4 5.806 4 10.5S7.806 19 12.5 19c1.927 0 3.7-.65 5.125-1.73l4.4 5.153.76-.65-4.398-5.15zM12.5 18C8.364 18 5 14.636 5 10.5S8.364 3 12.5 3 20 6.364 20 10.5 16.636 18 12.5 18z" fill="currentColor" fill-rule="evenodd"></path></svg>
            </div>
          </div>
          <div class="navBar-group">
            <li id="home" ng-click="homeActive()" class="navBar-item link" ui-sref="home">Home</li>
            <li id="music" ng-click="musicActive()"class="navBar-item link" ui-sref="music">Your Music</li>
          </div>
        </ul>
        <recent-play></recent-play>
      </nav>
    </header>
      <bottom-play></bottom-play>
    <ui-view></ui-view>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js" charset="utf-8"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="js/app.js"></script>
    <script src="js/player.js"></script>
    <script src="js/controllers/bottomPlayCtrl.js"></script>
    <script src="js/controllers/recentPlayCtrl.js"></script>
    <script src="js/controllers/searchCtrl.js"></script>
    <script src="js/controllers/artistCtrl.js"></script>
    <script src="js/controllers/homeCtrl.js"></script>
    <script src="js/controllers/playlistCtrl.js"></script>
    <script src="js/controllers/musicCtrl.js"></script>
    <script src="js/services/mainSrvc.js"></script>
    <script src="js/directives/bottomPlay.js"></script>
    <script src="js/directives/recentPlay.js"></script>
  </body>
</html>
