<section class="view-container-artist">
  <!-- <img ng-src="{{artist.image.url}}" alt=""> -->
  <div class="artist-background-container">
    <div class="artist-background" ng-style="{'background-image': 'url(' + artist.image.url + ')'}">
      <div class="artist-content">
        <span class="artist-followers">{{artist.followers}} Followers</span>
        <h1>{{artist.name}}</h1>
        <div class="artist-header-buttons">
          <button class="btn btn-green">PLAY</button>
          <button class="btn btn-black">FOLLOW</button>
        </div>

      </div>
    </div>
  </div>
  <section class="track-container">
    <h2 style="text-align: center" class="white">Popular</h2>
    <div class="track-item" ng-repeat="track in tracks">
      <div ng-click="playPreview(track)" class="track-item-play"></div>
      <div ng-click="addTrack(track)" class="track-item-add">+</div>
      <span class="track-item-name white">{{track.trackName}}</span>
      <div class="track-item-duration">{{track.duration}}</div>
    </div>
  </section>
  <!-- <bottom-play></bottom-play> -->
</section>

<!-- ng-style="{'background-image': 'url(' + artist.image.url + ')'}" -->
