<div class="terry" ng-if="showTerry"><img src="img/terry.png" alt="Terry"></div>

<div class="bottomPlay-container">
  <footer class="bottom-play-bar-container">
    <div class="bottom-play-bar">
      <div class="bottom-play-bar_left">
        <img class="cover-art-image" ng-mouseenter="showTerry=true" ng-mouseleave="showTerry=false" ng-src="{{track.trackImage.url}}" src="https://i.scdn.co/image/d247578ffb8aa69273db9e5ae0371ab59b43bd20">
      <div class="track-info white">
        <div class="track-info_track">{{track.trackName}}</div>
        <div class="track-info_artist">{{track.artistName}}</div>
      </div>
      </div>
      <div class="bottom-play-bar_center">
        <figure id="audioplayer" itemprop="track" itemscope itemtype="http://schema.org/MusicRecording">
          <figcaption>
            <div id="time">Time<span id="playbacktime">00:00</span></div>
          </figcaption>
        <div id="playback-container">
          <img id="shuffle" src="img/shuffle.png">
          <img id="back" src="img/next.png">
          <div id="playback"></div>
          <img id="next" src="img/next.png">
          <img id="repeat" src="img/repeat.png">
        </div>
        <div id="playbar"></div>
        <audio controls ng-src="{{track.preview}}" id="audiotrack" preload="auto" itemprop="audio"></audio>
        </figure>
      </div>
      <div class="bottom-play-bar_right"><div><div id="fader"><img id="device" src="img/device.png"></div></div></div>
    </div>
  </footer>
</div>
