<!-- Home view - Featured Playlists from Spotify ------------------------------>

<div class="spotify-bg-container"></div>
<main class="view-container fadein">
  <div class="content-spacing">
    <nav class="content-nav">
      <p class="black">Featured</p>
    </nav>
    <div class="content-spacing inner">
      <div class="content-padding">
        <h1 class="featured-header white bold">{{message}}</h1>
        <div class="container-fluid">
          <div class="container-flex">
            <div class="featured-item" ng-repeat="playlist in playlists">
              <div class="featured-cover">
                <i class="fa fa-play cover-play" aria-hidden="true" ui-sref="playlist({id: playlist.id})"></i>
                <div class="featured-bg-cover" ui-sref="playlist({id: playlist.id})"></div>
                <div class="featured-img-bg pointer" ng-style="{'background-image': 'url(' + playlist.image.url + ')'}"></div>
              </div>
              <div class="featured-info">
                <p class="featured-info-name white light pointer" ui-sref="playlist({id: playlist.id})">{{playlist.name}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
