<!-- Your Music view -->

<div class="spotify-bg-container your-music"></div>
<section class="view-container fadein">
    <div class="container-fluid playlist">
      <section class="tracklist-container music content-padding">
        <nav class="content-nav music">
          <p class="black">Library</p>
        </nav>
        <div class="tracklist-row light" ng-mouseenter="showPlay=true" ng-mouseleave="showPlay=false" ng-repeat="track in newTracks track by $index">
          <div class="tracklist-col tracklist-position-outer">
            <div class="tracklist-play-pause tracklist-top-align" ng-if="showPlay" ng-click="playNewPreview(track); selectToggle($index); previousSelectToggle()">
              <i class="fa fa-play" aria-hidden="true"></i>
            </div>
          </div>
          <div class="tracklist-col name">
            <div class="track-name-container tracklist-top-align">
              <span class="tracklist-name" ng-class="{selected: $index == selected}">{{track.trackName}}</span>
              <span class="tracklist-artist">{{track.artistName}}</span>
            </div>
          </div>
          <div class="tracklist-col music more">
            <div class="tracklist-add music tracklist-top-align" ng-show="showPlay" ng-click="deleteNewTrack($index)">
              <div class="tracklist-add-horizontal"></div>
              <div class="tracklist-add-vertical"></div>
            </div>
          </div>
          <div class="tracklist-col tracklist-col-duration" ng-class="{selected: $index == selected}">
            <div class="tracklist-duration tracklist-top-align">
              <span>{{track.duration}}</span>
            </div>
          </div>
        </div>
        <div class="tracklist-row light" ng-mouseenter="showPlay=true" ng-mouseleave="showPlay=false" ng-repeat="track in tracks track by $index">
          <div class="tracklist-col tracklist-position-outer">
            <div class="tracklist-play-pause tracklist-top-align" ng-if="showPlay" ng-click="playPreview(track); previousSelectToggle($index); selectToggle()">
              <i class="fa fa-play" aria-hidden="true"></i>
            </div>
            <!-- <div class="position tracklist-top-align">{{track.number}}</div> -->
          </div>
          <div class="tracklist-col name">
            <div class="track-name-container tracklist-top-align">
              <span class="tracklist-name" ng-class="{previousSelected: $index == previousSelected}">{{track.trackName}}</span>
              <span class="tracklist-artist">{{track.artistName}}</span>
            </div>
          </div>
          <div class="tracklist-col music more">
            <div class="tracklist-add music tracklist-top-align" ng-show="showPlay" ng-click="deleteTrack($index)">
              <div class="tracklist-add-horizontal"></div>
              <div class="tracklist-add-vertical"></div>
            </div>
          </div>
          <div class="tracklist-col tracklist-col-duration" ng-class="{previousSelected: $index == previousSelected}">
            <div class="tracklist-duration tracklist-top-align">
              <span>{{track.duration}}</span>
            </div>
          </div>
        </div>
      </section>
  </div>
</section>
