<div class="spotify-bg-container your-music"></div>

  <section class="view-container">
      <div class="container-fluid playlist">
        <section class="tracklist-container music content-padding">
          <!-- <h2 class="letter-spacing white">Popular</h2> -->
          <nav class="content-nav music">
            <p class="black">Library</p>
          </nav>

          <div class="tracklist-row light" ng-mouseenter="showPlay=true" ng-mouseleave="showPlay=false" ng-repeat="track in newTracks track by $index">
            <div class="tracklist-col tracklist-position-outer">
              <div class="tracklist-play-pause tracklist-top-align" ng-if="showPlay" ng-click="playNewPreview(track)">
                <i class="fa fa-play" aria-hidden="true"></i>
              </div>
              <!-- <div class="position tracklist-top-align" ng-hide="showPlay">{{track.number}}</div> -->
            </div>
            <div class="tracklist-col name">
              <div class="track-name-container tracklist-top-align">
                <span class="tracklist-name white">{{track.trackName}}</span>
                <span class="tracklist-artist">{{track.artistName}}</span>
              </div>
            </div>
            <div class="tracklist-col music more">
              <div class="tracklist-add music tracklist-top-align" ng-show="showPlay" ng-click="deleteNewTrack($index)">
                <div class="tracklist-add-horizontal"></div>
                <div class="tracklist-add-vertical"></div>
              </div>
            </div>
            <div class="tracklist-col tracklist-col-duration">
              <div class="tracklist-duration tracklist-top-align">
                <span>{{track.duration}}</span>
              </div>
            </div>
          </div>

          <div class="tracklist-row light" ng-mouseenter="showPlay=true" ng-mouseleave="showPlay=false" ng-repeat="track in tracks track by $index">
            <div class="tracklist-col tracklist-position-outer">
              <div class="tracklist-play-pause tracklist-top-align" ng-if="showPlay" ng-click="playPreview(track)">
                <i class="fa fa-play" aria-hidden="true"></i>
              </div>
              <!-- <div class="position tracklist-top-align">{{track.number}}</div> -->
            </div>
            <div class="tracklist-col name">
              <div class="track-name-container tracklist-top-align">
                <span class="tracklist-name white">{{track.trackName}}</span>
                <span class="tracklist-artist">{{track.artistName}}</span>
              </div>
            </div>
            <div class="tracklist-col music more">
              <div class="tracklist-add music tracklist-top-align" ng-show="showPlay" ng-click="deleteTrack($index)">
                <div class="tracklist-add-horizontal"></div>
                <div class="tracklist-add-vertical"></div>
              </div>
            </div>
            <div class="tracklist-col tracklist-col-duration">
              <div class="tracklist-duration tracklist-top-align">
                <span>{{track.duration}}</span>
              </div>
            </div>
          </div>


        </section>
    </div>
  </section>


















<!--
<section class="view-container ">
  <h1>playlist</h1>
  <section class="track-container">

    <div class="track-item" ng-repeat="track in newTracks track by $index">
      <div ng-click="playNewPreview(track)" class="track-item-play"></div>
      <div ng-click="deleteNewTrack($index)" class="track-item-add">x</div>
      <span class="track-item-name white">{{track.trackName}}</span>
      <div class="track-item-duration">{{track.artistName}}</div>
    </div>


    <div class="track-item" ng-repeat="track in tracks track by $index">
      <div ng-click="playPreview(track)" class="track-item-play"></div>
      <div ng-click="deleteTrack($index)" class="track-item-add">x</div>
      <span class="track-item-name white">{{track.trackName}}</span>
      <div class="track-item-duration">{{track.artistName}}</div>
    </div>
  </section>
</section> -->
