<!-- Featured Playlist view --------------------------------------------------->

<!-- Saved to Your Music message bar -->
<div class="add-track-message white" ><i class="fa fa-check" aria-hidden="true"></i> Saved to Your Music</div>
<div class="spotify-bg-container playlist"></div>
<main class="view-container">
  <div class="content-spacing playlist">
    <div class="container-fluid playlist">
      <!-- Left column - Playlist info -->
      <section class="col-container">
        <div class="col-content">
          <div class="col-playlist-info">
            <div class="featured-cover">
              <div class="featured-img-bg pointer" ng-style="{'background-image': 'url(' + playlistInfo.image.url + ')'}"></div>
            </div>
            <div class="playlist-info">
             <p class="playlist-info-name black white">{{playlistInfo.name}}</p>
            </div>
            <div class="playlist-meta-info light">
              <span>By </span>
              <span class="white">{{playlistInfo.owner}}</span>
            </div>
          </div>
          <p class="playlist-description light">{{playlistInfo.description}}</p>
          <p class="playlist-track-total light">{{songLength}} SONGS</p>
          <button class="btn btn-green playlist">PLAY</button>
          <div class="playlist-follow">
            <a class="follow" href="https://www.spotify.com/us/" target="_blank">FOLLOW</a>
          </div>
        </div>
      </section>
      <!-- Right column - Tracklist -->
      <section class="tracklist-container content-padding">
        <div class="tracklist-row light" ng-mouseenter="showPlay=true" ng-mouseleave="showPlay=false" ng-repeat="track in playlistTracks">
          <div class="tracklist-col tracklist-position-outer">
            <div class="tracklist-play-pause tracklist-top-align" ng-if="showPlay" ng-click="playPreview(track); selectToggle($index)">
              <i class="fa fa-play" aria-hidden="true"></i>
            </div>
            <div class="position tracklist-top-align" ng-hide="showPlay">{{$index + 1 + '.'}}</div>
          </div>
          <div class="tracklist-col name">
            <div class="track-name-container tracklist-top-align">
              <span class="tracklist-name" ng-class="{selected: $index == selected}">{{track.trackName}}</span>
              <span class="tracklist-artist">{{track.artistName}}</span>
            </div>
          </div>
          <div class="tracklist-col more">
            <div class="tracklist-add tracklist-top-align" ng-show="showPlay" ng-click="addTrack(track); showMessage()">
              <div class="tracklist-add-horizontal"></div>
              <div class="tracklist-add-vertical"></div>
            </div>
          </div>
          <div class="tracklist-col tracklist-col-duration" ng-class="{selected: $index == selected}">
            <div class="tracklist-duration tracklist-top-align">
              <span>{{track.duration}}</span>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>
