<div class="spotify-bg-container playlist"></div>
<section class="view-container">
  <div class="content-spacing playlist">
    <div class="container-fluid playlist">
      <div class="col-container">
        <div class="col-content">
          <div class="col-playlist-info">
            <div class="featured-cover">
              <div class="featured-img-bg pointer" ng-style="{'background-image': 'url(' + playlistInfo.image.url + ')'}"></div>
            </div>
            <div class="playlist-info">
             <p class="playlist-info-name black white">{{playlistInfo.name}}</p>
            </div>
            <div class="playlist-meta-info light">
              <span>By </span>
              <span class="white">{{playlistInfo.owner}}</span>
            </div>
          </div>
          <p class="playlist-description light">{{playlistInfo.description}}</p>
          <p class="playlist-track-total light">{{playlistInfo.trackTotal}} SONGS</p>
          <button class="btn btn-green playlist">PLAY</button>
          <!-- <a href="{{playlistInfo.link}}" target="_blank">FOLLOW</a> -->
          <div class="playlist-follow">
            <a class="follow" href="https://www.spotify.com/us/" target="_blank">FOLLOW</a>
          </div>
        </div>
      </div>
    </div>
  </div>





<!--



  <p>{{playlistInfo.trackTotal}} SONGS</p>
  <div class="artist-header-buttons">
    <button class="btn btn-green">PLAY</button>
  </div>
  <a href="{{playlistInfo.link}}" target="_blank">FOLLOW</a>
  <a href="https://www.spotify.com/us/" target="_blank">FOLLOW</a>
  <section class="playlist-container">
    <div class="playlist-item" ng-repeat="track in playlistTracks">
      <span class="playlist-item-number">{{track.number}}</span>
      <span class="playlist-item-name white">{{track.trackName}}</span>
      <div>{{track.artistName}}</div>
      <div class="playlist-item-duration-container">
        <span class="playlist-item-duration">{{track.duration}}</span>
      </div>
      <span ng-click="playPreview(track)" class="track-item-play"></span>
      <span ng-click="addTrack(track)" class="track-item-add">+</span>
    </div>
  </section> -->
</section>
