<section class="view-container search">
  <div class="search-container">
    <form class="search-form white">
      <p>Search for an Artist</p>
      <input class="search-input bold white" type="text" ng-model="searchStr" ng-keyup="searchMusic(searchStr)" placeholder="Start typing..." autofocus>
    </form>
  </div>
  <div ng-repeat="artist in artists">
    <img class="artist-img" ng-src="{{artist.image.url}}" ui-sref="artist({id: artist.id})" alt="null-image">
    <h2>{{artist.name}}</h2>
  </div>
</section>
