<!-- Search view -------------------------------------------------------------->

<main class="view-container search">
  <!-- Search bar -->
  <section class="search-container">
    <form class="search-form white">
      <p>Search for an Artist</p>
      <input class="search-input bold white" type="text" ng-model="searchStr" ng-keyup="searchMusic(searchStr)" placeholder="Start typing..." autofocus>
    </form>
  </section>
  <!-- Search for artist results -->
  <div class="content-spacing">
    <nav class="content-nav search">
      <p class="black">Artists</p>
    </nav>
      <section class="search-results-container">
        <div class="container-fluid">
          <div class="container-flex">
            <div class="featured-item" ng-repeat="artist in artists">
              <div class="featured-cover search">
                <i class="fa fa-play cover-play" aria-hidden="true" ui-sref="artist({id: artist.id})"></i>
                <div class="featured-bg-cover search" ui-sref="artist({id: artist.id})"></div>
                <div class="featured-img-bg pointer circle-img" ng-style="{'background-image': 'url(' + artist.image.url + ')'}"></div>
              </div>
              <div class="featured-info center">
              <p class="featured-info-name white light pointer" ui-sref="artist({id: artist.id})">{{artist.name}}</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>
