/*==============================================================================
                                Bottom-playbar
==============================================================================*/
.bottomPlay-container {
  background-color: #181818;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 101;
}

.bottom-play-bar-container {
  min-width: 620px;
  background-color: #282828;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bottom-play-bar {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 90px;
  padding: 0 16px;
}

.bottom-play-bar_left {
  width: 30%;
  min-width: 180px;
  display: flex;
}

.bottom-play-bar_left .cover-art-image {
    width: 56px;
    height: 56px;
    margin-right: 16px;
}

.bottom-play-bar_left .track-info {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bottom-play-bar_left .track-info_track {
  font-size: 16px;
  margin-bottom: 3px;
}

.bottom-play-bar_left .track-info_artist {
  font-size: 13px;
}

.bottom-play-bar_center {
  width: 40%;
  max-width: 722px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.bottom-play-bar_right {
  width: 30%;
  min-width: 180px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: end;
  justify-content: flex-end;
}


/*==============================================================================
                                Audio-player
==============================================================================*/
@font-face {
    font-family:"SSStandard";
  src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/ss-standard.woff') format('woff');
  font-weight:normal;
  font-style:normal;
}
.ss-icon,.ss-icon.ss-standard {
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    white-space: nowrap;
    font-feature-settings: "liga","dlig";
}
.ss-icon,.ss-icon.ss-standard {
    font-family: "SSStandard";
}
* { box-sizing: border-box; }
figure#audioplayer {
  width: 100%;
  margin: 0 auto;
}
figure#audioplayer audio { width: 0; height: 0; }
figure#audioplayer figcaption {
  width: 21.5rem; font-size: 0;
  margin: .45rem; background: #000;
  float: left;
  border: 1px solid #555;
  display: none;
}
figure#audioplayer figcaption div {
  background: #000;
  color: #fff;
  padding: .8rem;
  font-family: Avenir, Helvetica, sans-serif;
  text-transform: uppercase; font-size: .8rem;
  display: inline-block;
}
figure#audioplayer figcaption div span {
  display: block;
  font-size: 1.3rem;
  text-indent: 1rem;
}
div#album {
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  width: 100%;
}
div#time {
  width: 7.55rem;
}

#playback {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: none;
  border: 1px solid hsla(0,0%,100%,.6);
  transition: all 300ms cubic-bezier(0, 0, 0, 2.41) 0ms;
}

#playback:hover {
  border: 1px solid #fff;
  transform: scale(1.15);
}

#playback:hover #pause {
  color: #fff;
}

#pause {
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  color: hsla(0,0%,100%,.6);
  cursor: pointer;
}

figure#audioplayer button:focus {
  outline: none;
}

#playback-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 240px;
    margin: 0 auto;
    margin-bottom: 18px;
}

#back {
  transform: rotate(180deg);
}

#playbar {
  display: flex;
  align-items: center;
  height: 4px;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 4px;
}

progress {
  height: 4px;
  width: 100%;
  background-color: hsla(0,0%,100%,.6);
  border: none;
}

progress::-webkit-progress-bar {
  background-color: #404040;
}

progress::-webkit-progress-value { background: hsla(0,0%,100%,.5) }

progress::-moz-progress-bar {
background-color: hsla(0,0%,100%,.6);
}

/*==============================================================================
                                Volume-Slider
==============================================================================*/
div#fader { display: flex;}

#volumeSlider:focus, input:focus{
    outline: none;
}

#volumeSlider[type="range"] {
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 4px;
    width: 102px;
    cursor: pointer;
    border-radius: 6px; /* iOS */
}


::-webkit-slider-runnable-track {
    background: #404040;
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2px; /* 1 */
    height: 40px; /* 1 */
    box-shadow: -100vw 0 0 100vw hsla(0,0%,100%,.5);
    border: 0;
    border-radius: 50%;
    transition: .3s;
}

#volumeSlider:hover::-webkit-slider-thumb {
    box-shadow: -100vw 0 0 100vw #1db954;
}

#volumeSlider:active::-webkit-slider-thumb {
    box-shadow: -100vw 0 0 100vw #1db954;
}

::-moz-range-track {
    height: 40px;
    background: #ddd;
}

::-moz-range-thumb {
    background: #fff;
    height: 40px;
    width: 20px;
    border-radius: 0 !important;
    box-sizing: border-box;
}

::-ms-thumb {
    background: #fff;
    border: 2px solid #999;
    height: 40px;
    width: 20px;
    border-radius: 50%;
    box-sizing: border-box;
}

::-ms-ticks-after {
    display: none;
}

::-ms-ticks-before {
    display: none;
}

::-ms-track {
    color: transparent;
    height: 40px;
    border: none;
}

::-ms-tooltip {
    display: none;
}

#mute {
  background: none;
  border: 0;
  color: hsla(0,0%,100%,.6);
  width: 32px;
  min-width: 32px;
  height: 32px;
  position: relative;
  transition: .2s;
  cursor: pointer;
  font-size: 12px;
  margin-right: 2px;
  transform: translateY(1px);
}

#mute:hover {
  color: #fff;
}

#mute:focus {
  border: 0;
  outline: 0;
}

.terry {
  position: fixed;
  top: 40%;
  left: 55%;
  width: 300px;
  height: 300px;
  margin-top: -250px; /* Half the height */
  margin-left: -250px;
  z-index: 300;
  animation: changesize 1.3s infinite alternate;
}

.terry img {
  width: 300px;
  height: 300px;
}

@keyframes changesize {
	0%   { transform: scale(0.8);}
	25%  { transform: scale(1.5); line-height: 30vh;}
  50% { transform: scale(0.8);}
  75% { transform: scale(1.5); line-height: 100vh;}
  100% { transform: scale(0.8);}
}
