/*==============================================================================
                                bottom-play-bar
==============================================================================*/
.bottomPlay-container {
  background-color: #181818;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 101;
}

.bottom-play-bar-container {
  min-width: 620px;
  background-color: #282828;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bottom-play-bar {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 90px;
  padding: 0 16px;
}

.bottom-play-bar_left {
  width: 30%;
  min-width: 180px;
  display: flex;
}

.bottom-play-bar_left .cover-art-image {
    width: 56px;
    height: 56px;
    margin-right: 16px;
}

.bottom-play-bar_left .track-info {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bottom-play-bar_left .track-info_track {
  font-size: 16px;
  margin-bottom: 3px;
}

.bottom-play-bar_left .track-info_artist {
  font-size: 13px;
}

.bottom-play-bar_center {
  width: 40%;
  max-width: 722px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.bottom-play-bar_right {
  width: 30%;
  min-width: 180px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: end;
  justify-content: flex-end;
}


/*==============================================================================
                                Audio-player
==============================================================================*/
