* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  font-family: "proxima-nova",sans-serif;
  font-weight: 400;
  letter-spacing: .6px;
  -webkit-font-smoothing: antialiased;
  color: hsla(0,0%,100%,.6);
  transition: color .2s;
  background: #181818;
}

h1 {
  font-weight: 800;
  color: #fff;
}

.bold {
  font-weight: 700;
}

.white {
  color: #fff;
}

.header-container {
  width: 220px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 100;
  padding: 20px;
  background-color: rgba(0,0,0,.5);
}

.header-ul {
  list-style: none;
}

.header-logo {
  height: 34px;
  width: auto;
}

.header-ul li {
  cursor: pointer;
  margin: 10px 0;
  font-size: 16px;
  line-height: 26px;
}



/*==============================================================================
                                view-container
==============================================================================*/
.view-container {
  width: 100%;
  height: 100vh;
  padding-left: 220px;
  text-align: center;
}

/*"https://i.scdn.co/image/cb080366dc8af1fe4dc90c4b9959794794884c66"*/
