/*==============================================================================
                                Your-music-view
==============================================================================*/
.spotify-bg-container.your-music {
  background-image: linear-gradient(rgb(30, 51, 100), rgb(3, 6, 11) 85%);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  position: fixed;
  will-change: transform;
  transition: background .5s ease;
}

.content-nav.music {
  margin-bottom: 18px;
}

.tracklist-container.music {
  margin: 0 auto;
  padding: 0 2em;
  padding-bottom: 180px;
  width: 88%;
  float: none;
}

.tracklist-col.music {
  margin-top: 11px;
}

.tracklist-add.music {
  transform: rotate(45deg) scale(1.2);
  text-align: right;
  padding-right: 1em;
}
