/*==============================================================================
                                Recently-Played
==============================================================================*/
.recent-container {

}

.recent-header {
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 16px;
  margin-top: 8px;
  letter-spacing: 1px;
  font-family: circular-light;
}

.recent-item {
  padding: 9px 0;
}

.recent-click {
  cursor: pointer;
  transition: .2s;
}

.recent-click:hover .recent-item-track {
  color: #fff;
}

.recent-item-track {
  font-size: 15px;
  line-height: 22px;
}

.recent-item-artist {
  line-height: 16px;
  font-size: 11px;
}
