/*==============================================================================
                                search-view
==============================================================================*/
.view-container.search {
  text-align: left;
}

.search-container {
  background-color: #282828;
  padding: 1.6em 0;
}

.search-form {
  padding: 0 2em;
  margin: 0 auto;
  max-width: 1480px;
}

.search-form p {
  font-family: circular-light;
  font-size: 14px;
  letter-spacing: 1px;
}

.search-input {
  font-family: circular-black;
  caret-color: #1db954;
  background: transparent;
  font-size: 3rem;
  line-height: 1.6;
  outline: none;
  border: none;
  padding: 6px 0;
}

.search-input::-webkit-input-placeholder {
color: #515151;
}

.artist-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}
